@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  animation: marquee 1.5s infinite ease-in-out;
}